*{
    box-sizing: border-box;
}

.signup-btn{
    text-decoration: none;
    margin-left: 50px;
    color:white;
    padding: 5px;
    font-family:'Sofia Sans Condensed', sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.signup-btn:hover{
    color: blue;
}

input[type=text],input[type=password],input[type=email]{
    width: 100%;
    display: block;
    background-color: #ddd;
    padding:10px;
    margin:5px 0 22px 0;
    outline:none
}

.modal{
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    background-color: #222222;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-content{
    width: 60%;
    margin:6% auto 15% auto;
    font-weight: bold;
    background-color: #333333;
    padding: 5px;
    color:#C5C5C5;
}

.final-submit,.cancel-btn{
    border:none;
    padding: 10px;
    color: white;
    background-color: grey;
    opacity: 0.9;
    width: 40%;
}

.final-submit:hover,.cancel-btn:hover{
    opacity: 1;
}

.modal-content .final-submit{
    margin-left: 100px;
}