@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Space+Mono:wght@400;700&display=swap');
* {
    font-family: lato, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/*Animations*/

.my-badges>.htb {
    line-height: 40px;
    cursor: pointer;
    transition: 1s;
}

.htb:hover {
    transform: scale(1.2);
}

.my-badges>.thm {
    cursor: pointer;
    transition: 1s;
}

.thm:hover {
    transform: scale(1.2);
}
.hero-btn:hover,
.cv-btn:hover,
.form-btn:hover{
    background-color: #070510;
    color: #fff;
}


/*NAVIGATION BAR*/

.nav-bar {
    width: 100%;
    height: 10px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 20px;
    z-index: 9;
}

.site-name {
    color: #053E53;
    font-size: 1.5em;
    text-decoration: overline;
    z-index: 3;
    display: flex;
    padding: 10px 10px;
}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1.2em 1em;
    justify-content: center;
}

.nav-links li {
    margin: 0px 15px;
    transition: 0.5s;
}

.nav-links>li>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links>li>a:hover {
    color: #053E53;
    text-decoration: overline;
}

.close,
.intro-icon-mob {
    display: none;
}

.intro-icon {
    display: flex;
    gap: 20px;
    padding: 10px 10px;
}

.fa-brands {
    color: #053E53;
    font-size: 20px;
    transition: 0.5s;
}

.fa-brands:hover {
    transform: scale(1.5);
}


/*End of NavBar*/


/*Main Body*/


.my-details{
    display: flex;
    flex-direction: column;
    width: 50%; height: 580px;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    font-family: lato;
    
}
.name-container{
    text-align: center;
    
}
.my-detail{
    font-size: 15px;
}
.cube{
    position: absolute;
    width: 200px;
    margin:420px -60px;
    opacity: 0.5;
    animation: up-down 5s infinite alternate-reverse ease-in-out;
}
.sphere{
    position: absolute;
    width: 200px;
    float: right;
    margin: 100px -0px;
    opacity: 0.4;
    animation: up-down 5s infinite alternate-reverse ease-in-out;
}
.sphere-img{
    display: flex;
    justify-content: end;
}
@keyframes up-down{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translateY(-20px);
    }
}
.my-photo{
    width: 150px;
    border-radius: 100px;
    margin:5px 0px;
    transition: 1s;
    cursor: pointer;
    animation: 1s rotate ease-in-out;
    
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.my-name{
    font-size: 40px;
    font-weight:700;
    background-image: /*#531652*/ linear-gradient(to right,#76757A,#aeacac);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.my-photo:hover{
    width: 250px;
}
.my-info{
    margin:20px 0px;
    text-align:justify;
    line-height: 25px;
    font-size: 17px;
    
    padding: 10px;
}
.hero-btn{
    border: 1px solid #555;
    width: 100px; height: 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

/*Main Page*/

main,
footer {
    padding: 40px;
    width: 70%;
    margin: 0px auto 0px auto;
    color: #555;
    box-sizing: border-box;
}


/*Resume Page*/

.title-1 {
    font-size: 2em;
    letter-spacing: 5px;
    animation: resume 1s ease;
    font-family: "space mono", monospace;
}

@keyframes resume {
    0% {
        transform: translateX(20%)
    }
    100% {
        transform: scale(1, 1);
    }
}

.resume>p,
.cv>p,
.achievements,
.activities {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    font-family: "space mono", monospace;
    padding: 30px;
}


/*Education*/

.education {
    box-sizing: border-box;
    /* border: 1px solid green; */
}

.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
    font-size: 1.5em;
    font-family: "space mono", monospace;
    font-weight: 400;
    letter-spacing: 5px;
}

.education{
    border-radius: 10px;
    margin:50px 0px;
}
.education-img{
    display: flex;
    justify-content: end;
}
.education-img img{
    width: 550px;
    position:absolute;
    margin:60px -100px;
}
.education-details{
    display: flex;
    gap:15px;
    margin-top: 40px;
}
.list-vertical li{
    margin-top: -12px;
    list-style: none;
}
.inner-list::before{
    content: "";
    background-color: #000;
    width: 12px;
    height: 12px;
    left: 0;
    display: inline-block;
    border-radius: 25px;
    position: relative;
}
.inner-list::after{
    content:"";
    width: 0px;
    margin-top: -0px;
    position: relative;
    top:-6px;
    left: 4px;
    height: 120px;
    display: block;
    border: 3px solid #000;
}
.education-answer{
    display: flex;
    flex-direction: column;
    gap:1.2em;
    margin-top: -10px;
}
.education-answer li{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.education-answer div{
    display: flex;
    gap:20px;
    flex-direction: column;
}
.education-answer li:nth-child(2n){
    margin-top: 18px;
}
.education-answer li:nth-child(3n){
    margin-top:18px;
}

/*General Skills*/

.skills {
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.skill-details {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
    padding: 10px;
}

.skill-img {
    padding: 10px;
}
.inner-list-exp::before{
    content: "";
    background-color: #000;
    width: 12px;
    height: 12px;
    left: 0;
    display: inline-block;
    border-radius: 25px;
    position: relative;
}
.inner-list-exp::after{
    content:"";
    width: 0px;
    margin-top: -0px;
    position: relative;
    top:-6px;
    left: 4px;
    height: 180px;
    display: block;
    border: 3px solid #000;
}
.experience{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.experience-details{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.experience-answer{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top:-15px;
    text-align: justify;
}
.experience-answer li{
    display: flex;
    flex-direction: column;
    line-height: 28px;
}
.experience-answer-2{
    margin-top: 12px;
}

.horizantal-line {
    width: 100%;
    margin: auto;
    color: #003B50;
}

.my-badges {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.my-badges>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.my-badges>.htb {
    line-height: 40px;
}

.cv-btn {
    width: 130px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    color: #000;
    display: block;
    margin: 0px auto;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.cv-btn:hover a,
.intro-btn:hover a {
    color: white;
}

.cv-btn a,
.intro-btn a {
    text-decoration: none;
    color: black;
}

.cv-btn:hover:after {
    content: '\00bb';
    position: absolute;
    margin-left: 5px;
    opacity: 1;
    color: white;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.foot>.contact,
.foot>.end {
    font-size: 1.5em;
    font-family: "space mono", monospace;
}

.form-field {
    margin-top: 10px;
    display: flex;
    padding: 30px;
}

.form-field input {
    display: block;
    width: 240px;
    height: 40px;
    margin-top: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.form-field textarea {
    display: block;
    width: 240px;
    height: 190px;
    margin-top: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.form-btn {
    width: 80px;
    height: 35px;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;
    display: block;
    margin: 0px auto;
    transition: 0.5s ease-in-out;   
}

.form-btn:hover {
    background-color: #000;
    color: #fff;
}

.form-btn:hover:after {
    content: '\00bb';
    position: absolute;
    margin-left: 5px;
    opacity: 1;
}

@media(max-width:700px) {
    .theme {
        width: 100%;
    }
    .site-name {
        display: none;
    }
    .intro-icon {
        display: none;
    }
    /*Ham Menu*/
    .ham-menu {
        padding: 10px 0px 0px 10px;
        cursor: pointer;
    }
    .ham-menu>span {
        display: block;
        margin: 5px 0px;
        width: 20px;
        border: 1px solid black;
    }
    .mobile-menu {
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        padding: 100px;
    }
    .nav-links li a {
        color: #fff;
    }
    .nav-bar {
        background-color: black;
        opacity: 0.9;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: block;
    }
    .nav-links li {
        margin-top: 30px;
        color: #fff;
    }
    .close {
        color: red;
        cursor: pointer;
        font-size: 20px;
        position: relative;
        display: block;
    }
    .close:hover {
        color: red;
    }

    .my-details{
        display: flex;
        flex-direction: column;
        width: 100%; height: 580px;
        justify-content: center;
        align-items: center;
        margin:20px auto;
        font-family: poppins;
        
    }
    .name-container{
        text-align: center;
        
    }
    .my-detail{
        font-size: 15px;
    }
    .cube{
        position: absolute;
        width: 100px;
        /* margin-top: 450px; */
        margin:500px -30px;
    }
    .sphere{
        position: absolute;
        width: 100px;
        float: right;
        margin: 10px -0px;
        opacity: 0.4;
    }
    .sphere-img{
        display: flex;
        justify-content: end;
    }
    .my-photo{
        width: 150px;
        border-radius: 100px;
        margin:5px 0px;
        transition: 1s;
        cursor: pointer;
        animation: 1s rotate ease-in-out;
        
    }
    @keyframes rotate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .my-name{
        font-size: 40px;
        font-weight:700;
        background-image: /*#531652*/ linear-gradient(to right,#76757A,#aeacac);
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    .my-photo:hover{
        width: 150px;
    }
    .my-info{
        margin:20px 0px;
        text-align:justify;
        line-height: 25px;
        font-size: 17px;
        
        padding: 10px;
    }
    .hero-btn{
        border: 1px solid #555;
        width: 100px; height: 30px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        
    }
    .hero-btn:hover{
        background-color: #070510;
        color: #fff;
    }
    .fa-brands {
        color: #003B50;
        transition: 0.5s ease-in-out;
    }
    .fa-brands:hover {
        transform: scale(1.2);
    }
    main {
        width: 100%;
        margin: 10px auto;
        color: #555;
        padding: 10px;
    }
    .title-1 {
        font-size: 1.3em;
        letter-spacing: 5px;
        animation: resume 1s ease;
        font-family: "space mono", monospace;
    }
    .resume p {
        text-align: justify;
        font-family: "space mono", monospace;
        padding: 10px;
        line-height: 25px;
    }
    .title-2,
    .title-3,
    .title-4,
    .title-5,
    .title-6,
    .title-7 {
        font-family: "space mono", monospace;
        font-weight: 400;
        letter-spacing: 5px;
        font-size: 16px;
    }
    .education-list {
        margin-left: 12px;
    }
    .education-list li {
        font-size: 13px;
        list-style-type: square;
    }
    .inner-list h4 {
        color: #003B50;
    }
    .inner-list .score {
        font-size: 10px;
        color: #003B50;
    }
    .inner-list .study-year {
        font-size: 10px;
    }
    .education-img{
        display: none;
    }
    .skills {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 20px;
    }
    .skills>.skill-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 50px;
    }
    .achievements {
        margin: -15px;
    }
    .achieve-name>h4 {
        font-size: 13px;
        font-family: "space mono", monospace;
    }
    .achieve-name>p,
    .achieve-name>ul>li {
        padding: 5px 0px;
        text-align: justify;
    }
    .activities {
        margin: -15px;
    }
    .activities-list>li {
        text-align: justify;
        padding: 5px;
    }
    .my-badges {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .my-badges>.htb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .my-badges>.thm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
   
    .cv {
        display: flex;
        flex-direction: column;
        margin: -15 px;
        gap: 20px;
        padding: 10px;
    }
    .cv>p {
        text-align: justify;
        font-family: "space mono", monospace;
        padding: 0;
    }
    .cv-btn {
        width: 140px;
        height: 30px;
        background-color: #fff;
        border: 1px solid black;
        cursor: pointer;
        display: block;
        margin: 0px auto;
    }
    .cv-btn:hover {
        color: white;
        background-color: #000;
    }
    .foot {
        width: 100%;
    }
    .contact {
        font-size: 16px;
        font-family: "space mono", monospace;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-field {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        line-height: 20px;
    }
    .form-field input {
        display: block;
        margin: 0px auto;
        width: 300px;
        height: 30px;
    }
    .form-field textarea {
        display: block;
        margin: 0px auto;
        width: 300px;
        height: 200px;
    }
    .form-btn {
        width: 120px;
        height: 30px;
        background-color: #fff;
        border: 1px solid black;
        cursor: pointer;
        display: block;
        margin: 0px auto;
    }
    .form-btn:hover {
        color: white;
        background-color: #000;
    }
    .end {
        font-size: 13px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 10px;
    }
}
